.cpmain-section {
  width: 300px;
  position: fixed;
  right: 90px;
  bottom: -350px;
  transition: 2s;
}
.cpfirst-section:hover {
  cursor: pointer;
}
.cpopen-more {
  bottom: 0px;
  transition: 2s;
}
.cpborder-chat {
  border: 1px solid #82b6f4;
  margin: 0px;
}
.cpfirst-section {
  background-color: #82b6f4;
}
.cpfirst-section p {
  color: #fff;
  margin: 0px;
  padding: 10px 0px;
}
.cpfirst-section p:hover {
  color: #fff;
  cursor: pointer;
}
.cpright-first-section {
  text-align: right;
}
.cpright-first-section i {
  color: #fff;
  font-size: 15px;
  padding: 12px 3px;
}
.cpright-first-section i:hover {
  color: #fff;
}
.cpchat-section ul li {
  list-style: none;
  margin-top: 5px;
}
.cpchat-section {
  height: 300px;
  position: relative;
  overflow-y: scroll;
}
.cpchat-section ul {
  padding: 0px;
  position: relative;
}
.cpleft-chat img,
.cpright-chat img {
  width: 50px;
  height: 30px;
  float: left;
  margin: 0px 10px;
}
.cpright-chat img {
  float: right;
}
.cpsecond-section {
  padding: 0px;
  margin: 0px;
  background-color: #f3f3f3;
  height: 300px;
}
.cpleft-chat,
.cpright-chat {
  overflow: hidden;
}
.cpleft-chat p {
  background-color: #3f8ef4;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  float: left;
  /* width: 60%; */
  max-width: 225px;
  margin: 3px 3px 0px 3px;
}
.cpright-chat p {
  background-color: #3f8ef4;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  float: right;
  /* width: 60%; */
  max-width: 225px;
  margin: 3px 3px 0px 3px;
}
.cpleft-chat span {
  /* position: absolute; */
  position: relative;
  /* left: 70px;
    top: 60px; */
  top: 15px;
  margin-left: 3px;
  float: left;
  color: #b7bcc5;
}
.cpright-chat span {
  /* position: absolute; */
  position: relative;
  /* left: 70px;
  top: 60px; */
  top: 15px;
  margin-right: 3px;
  float: right;
  color: #b7bcc5;
}
/* .cpright-chat span {
  left: 45px;
} */
.cpright-chat p {
  float: right;
  background-color: #ffffff;
  color: #3f8ef4;
}
.cpthird-section {
  border-top: 1px solid #eeeeee;
}
.cptext-bar {
  background-color: #fff;
}
.cptext-bar input {
  width: 90%;
  margin-left: -15px;
  padding: 10px 10px;
  border: 1px solid #fff;
}
.cptext-bar a i {
  background-color: #3f8ef4;
  color: #fff;
  width: 30px;
  height: 30px;
  padding: 7px 0px;
  border-radius: 50%;
  text-align: center;
}
/* .cpleft-chat:before {
  content: ' ';
  position: absolute;
  top: 0px;
  left: 55px;
  bottom: 150px;
  border: 15px solid transparent;
  border-top-color: #3f8ef4;
}
.cpright-chat:before {
  content: ' ';
  position: absolute;
  top: 0px;
  right: 55px;
  bottom: 150px;
  border: 15px solid transparent;
  border-top-color: #fff;
} */
